---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import { Icon } from 'astro-icon/components';
import MapModal from './MapModal.svelte';
import Button from '~/components/ui/Button.astro';
import { BASE_PATH } from '~/utils/constants';
const { title, subtitle, id, isDark = false, classes = {}, bg = await Astro.slots.render('bg') } = Astro.props;

const events = [
  {
    title: 'Ceremonia Principal',
    time: '4:30 pm',
    location: 'Iglesia San José',
    description:
      'Únete a nosotros para celebrar nuestro amor y compromiso ante los ojos de Dios en un entorno sagrado, lleno de bendiciones y alegría.',
    coordinates: {
      lat: 4.60971, // Reemplaza con las coordenadas reales
      lng: -74.08175,
    },
  },
  {
    title: 'Fiesta de Boda',
    time: '7:30 pm',
    location: 'Finca San Francisco',
    description:
      'Acompáñanos en una velada encantadora llena de melodías vibrantes y una alegría contagiosa para festejar nuestra unión eterna. ¡Será una noche inolvidable!',
    coordinates: {
      lat: 4.60971, // Reemplaza con las coordenadas reales
      lng: -74.08175,
    },
  },
];
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div class="text-center">
    <p class="text-base text-primary font-semibold tracking-wide uppercase">{title}</p>
    <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">{subtitle}</h2>
    <div class="max-w-3xl mx-auto">
      <div class="flex items-center justify-center gap-2">
        <div class="h-0.5 w-12 bg-primary"></div>
        <span class="text-primary">❤️</span>
        <div class="h-0.5 w-12 bg-primary"></div>
      </div>
      <div class="flex items-center justify-center gap-2 mb-8">
        <p class="text-primary">
          <b>22 de Marzo de 2025</b>
        </p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-center mt-8">
    <!-- Ceremonia -->
    <div class="text-center max-w-md mx-auto">
      <h3 class="text-2xl md:text-3xl font-script text-primary mb-4">{events[0].title}</h3>
      <div class="inline-block bg-white rounded-full px-6 py-2 shadow-md">
        <div class="text-xl md:text-2xl font-bold mb-0">{events[0].time}</div>
      </div>
      <div class="text-lg md:text-xl font-medium my-4 whitespace-pre-line">{events[0].location}</div>
      <p class="text-muted mb-4">{events[0].description}</p>
      <div>
        <Button variant="primary" onclick="window.openMap(0)">
          <Icon name="tabler:map-pin" class="w-3.5 h-3.5 inline-block -mt-0.5 mr-1 dark:text-gray-400" />
          ABRIR MAPA
        </Button>
      </div>
    </div>

    <!-- Imagen Central -->
    <div class="flex flex-col items-center justify-center">
      <div class="relative w-64 h-64">
        <img src={`${BASE_PATH}/assets/images/wedding-invitation.gif`} alt="Wedding Logo" width="256" height="256" class="inline" />
      </div>
    </div>

    <!-- Fiesta -->
    <div class="text-center max-w-md mx-auto">
      <h3 class="text-2xl md:text-3xl font-script text-primary mb-4">{events[1].title}</h3>
      <div class="inline-block bg-white rounded-full px-6 py-2 shadow-md">
        <div class="text-xl md:text-2xl font-bold mb-0">{events[1].time}</div>
      </div>
      <div class="text-lg md:text-xl font-medium my-4 whitespace-pre-line">{events[1].location}</div>
      <p class="text-muted mb-4">{events[1].description}</p>
      <div>
        <Button variant="primary" onclick="window.openMap(1)">
          <Icon name="tabler:map-pin" class="w-3.5 h-3.5 inline-block -mt-0.5 mr-1 dark:text-gray-400" />
          ABRIR MAPA
        </Button>
      </div>
    </div>
  </div>
</WidgetWrapper>

<MapModal client:load />

<script>
  // Declarar el tipo en window
  declare global {
    interface Window {
      openMap: (index: number) => void;
    }
  }

  // Asignar la función
  window.openMap = (index: number): void => {
    document.dispatchEvent(
      new CustomEvent('openMap', {
        detail: {
          index: index,
        },
      })
    );
  };
</script>
